body {
  font-family: "Quicksand", sans-serif;
}

.luz {
  background-color: white;
}
.oscuro {
  color: white;
  background-color: #242526;
}

h2 {
  border-bottom: 2px;
  border-bottom-style: solid;
  border-color: rgb(179, 178, 178.3);
  text-align: center;
  margin: 0%;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

span {
  font-weight: bold;
}

.navbar {
  background-color: #3772ff;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  color: white;
}

.nav {
  box-shadow: 0 -0.2rem 1rem rgba(0, 0, 0, 0.2);
}

.container {
  width: 50%;
  margin: 0 auto;
}

.foto {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding: 1rem 0;
}

.foto2 {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.perfil-foto {
  height: 100%;
  margin: auto 0;
}

.perfil-foto img {
  border-radius: 2rem;
}

.proflag {
  background-color: #3dd16e;
}

.moon {
  background-color: #ff2929;
}

.card {
  border-color: rgb(216, 216, 216);
}

.card:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
}

.react,
.css {
  background-color: #0093e9;
  padding: 0.3rem;
  border-radius: 00.3rem;
  margin: 0 0.5rem;
  color: white;
  display: inline-block;
}

.firebase,
.html {
  background-color: orange;
  padding: 0.3rem;
  border-radius: 00.3rem;
  margin: 0.3rem 0.1rem;
  color: white;
  display: inline-block;
}

.python {
  background-color: #2688c0;
  padding: 0.3rem;
  border-radius: 00.3rem;
  margin: 0 0.5rem;
  color: white;
  display: inline-block;
}

.javascript {
  background-color: #e2d521;
  padding: 0.3rem;
  border-radius: 00.3rem;
  margin: 0 0.5rem;
  color: white;
  display: inline-block;
}

.skill {
  background-color: #f1f1f1;
  border-radius: 25px;
  padding: 0.3rem;
  border-radius: 00.3rem;
  margin: 0 1rem;

}

.skill:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0.3rem 1rem rgba(172, 166, 166, 0.5);
}

.skill img {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skill-html {
  background-color: #fadbc2;
}

.skill-css {
  background-color: #c2f8fa;
}

.skill-js {
  background-color: #faf9c2;
}

.skill-reactnative {
  background-color: #c2faf1;
}

.skill-python {
  background-color: #c2e5fa;
}

.skill-fb {
  background-color: #faebc2;
}

.skill-java {
  background-color: #fad8c2;
}

.skill-node {
  background-color: #c2fad3;
}

.skill-git {
  background-color: #fac2c2;
}

.CookNote{
  background-color: #ff4848;
}

.card-end{
  margin-top: 1rem;
}

.ss-app{
  border-radius: 1rem;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }

  .foto2 {
    width: 80%;
  }
}
